@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap'); /* Rubik Doodle Shadow */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik+Doodle+Shadow&display=swap'); /* Luckiest Guy */

@font-face {
    font-family: University;
    src: local(University),url(../fonts/University.otf);
}

:root {
    --fontpadrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonttitulo: University;
    --fontespecial: Rubik Doodle Shadow;

    --cor0: #D4FFD5;
    --cor1: #ABDEAD;
    --cor2: #A1FFA4;
    --cor3: #2D7930;
    --cor4: #274528;
}

body {
    padding: 0px;
    margin: 0px;
    
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));
    height: 97.9vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: var(--fontpadrao);
}

main {
    padding-bottom: 20px;
}

header {
    background-color: var(--cor3);
    color: white;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.37);
}

header h1 {
    font-family: var(--fonttitulo);
    font-size: 5em;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.507);

    padding-bottom: 20px;
    text-align: center;
}

nav a {
    position: relative;
    
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4) 99%);

    padding: 0px 30px;
    margin: 0px 8px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.384);
}

nav a:hover {
    padding-top: 30px;
    top: 30px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

section#boasvindas {
    position: relative;
    display: flex;

    background-color: var(--cor3);
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.37);
}

section#boasvindas > img {
    height: 500px;
    margin-left: 150px;
}

section#boasvindas > div {
    position: relative;
    width: 2000px;
}

section#boasvindas > div > div {
    position: absolute;
    top: 50%;

    font-size: 2em;
    color: white;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.432);

    transform: translate(0%, -50%);
}

section#boasvindas > div > div > h2 {
    font-size: 3em;
    font-family: var(--fontespecial);
    text-align: center;
}

section#mais {
    background-color: white;
    max-width: 1500px;
    margin: auto;
    padding: 10px;
}

section#mais section#sumario h2 {
    font-size: 4em;
    font-family: var(--fonttitulo);
    text-align: center;
    text-decoration: underline;

    color: var(--cor4);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.199);
}

section#mais section#sumario p, ul {
    font-size: 1.5em;
    margin-left: 50px;
}

section#mais section#sumario ul {
    columns: 2;
}

section#mais section#sumario ul a {
    text-decoration: underline;
    color: var(--cor4);
    font-weight: bolder;
}

section#mais section#sumario ul a:hover {
    font-size: 1.1em;
    transition-duration: 0.5s;
}