@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto:wght@300&display=swap'); /* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: University;
    src: local(University),url(../fonts/University.otf);
}

:root {
    --fontpadrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonttitulo: University;
    --fonte01: 'Lato', sans-serif;
    --fonte02: 'Roboto', sans-serif;

    --cor0: #D4FFD5;
    --cor1: #ABDEAD;
    --cor2: #A1FFA4;
    --cor3: #2D7930;
    --cor4: #274528;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: white;

    font-family: var(--fontpadrao);
}

main {
    padding-bottom: 20px;
}

header {
    position: relative;
    background-color: var(--cor3);
    background-image: url('../images/fundo001.png');
    color: white;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.37);
}

header div {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -30px;
    justify-content: flex-end;
}

header h1 {
    position: relative;
    font-family: var(--fontpadrao);
    font-size: 1.5em;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.507);
    margin-right: 5px;
}

header img {
    width: 135px;
}

nav a {
    position: relative;
    
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4) 99%);

    padding: 0px 30px;
    margin: 0px 8px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.384);
}

nav a:hover {
    padding-top: 30px;
    top: 30px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

footer {
    background-color: var(--cor3);
    padding: 3px 0px;
}

footer p {
    font-size: 1.1em;
    text-align: center;
    color: white;
}

footer p a {
    color: white;
    font-weight: bold;
}