@charset "UTF-8";

/* MEDIA QUERIES INDEX */

@media screen and (min-width: 1400px) {
    header nav {
        width: 100%;
    }

    header > nav > i#botaomenu {
        display: none;
    }

    header > nav > menu {
        display: flex;
        position: relative;
        top: -33px;
        background-color: transparent;
        width: 100%;
    }

    header > nav > menu > ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    header > nav > menu > ul > li {
        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--cor4);
        border-radius: 0px 0px 14px 14px;
        margin: 0px 5px;
        width: 100%;
    }
}